body {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1 {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 2px;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 0.1em;
}

p {
  text-indent: 20px;
  text-align: justify;
  word-spacing: -0.2em;
  line-height: 1; /*The value is the percentage related to the size of the font*/
  white-space: pre-wrap;
}
